
/*
* wofi style. Colors are from authors below.
* Base16 Gruvbox dark, medium
* Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
*
*/

window {
    opacity: 0.9;
    border:  0px;
    border-radius: 15px;
    font-family: monospace;
    font-size: 18px;
}

#input {
    border-radius: 15px;
    /* border-radius: 15px 15px 0px 0px; */
	/* border-radius: 10px 10px 0px 0px; */
    /* border:  0px; */
    border-color: #6094bf;
    /* padding: 10px;
    margin: 0px; */
    font-size: 28px;
	/* color: #8EC07C; */
	/* background-color: #554444; */
}

#inner-box {
	margin: 0px;
	color: @base06;
	border-radius: 50%;
  /* background-color: @base00; */
}

#outer-box {
	margin: 0px;
  /* display: none; */
	background-color: @base00;
	border-radius: 50px;
}

#selected {
	/* background-color: #4c6b6b; */
  background-color: #6094bf;
}

#entry {
	padding: 0px;
    margin: 0px;
	background-color: @base00;
}

#scroll {
	margin: 5px;
	background-color: @base00;
}

#text {
	margin: 0px;
	padding: 2px 2px 2px 10px;
}
